p#p1{
    color: white;
    font-size: 20px;
}

p#p2{
    color: white;
    font-size: 20px;

   }


a#tel {
    text-decoration: none;
	padding:6px;
	font:bold 13px Arial;
	background: rgb(167, 110, 110);
	color:#fff;
	border-radius:2px;
	width:100px;
    border:none;
    border-radius: 5px;
}
a#mail {
    text-decoration: none;
        padding:6px;
        font:bold 13px Arial;
        background: rgb(167, 110, 110);
        color:#fff;
        border-radius:2px;
        width:100px;
        border:none;
        border-radius: 5px;
    }

 div#bloc{
        background-color:rgb(48, 46, 46);
        border-radius: 20px;
        padding: 1px 5px 20px 5px;
      }
h1{
    font-size: 40px;
    font-weight: normal;
    text-decoration: underline;
    color: white;
}
h2{
    font-size: 40px;
    font-weight: normal;
    text-decoration: underline;
    color: white;
}

a#mail:hover {
    background-color: rgb(104, 68, 68);
    }
a#tel:hover {
        background-color: rgb(104, 68, 68);
        }