
<<<<<<< HEAD
a#logo {margin-left:45%;
    display: inline;
    
}

img {
	max-width: 100%;
	
}

#headerlinks {
  width: 50%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5vw;
}

.overlay {
  left: 0;
  position: fixed; 
  top: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


.container:hover .overlay {
  opacity: 1;
}


div#date {
  border-spacing: 10px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: rgb(77, 77, 77);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.filtre{
display: -moz-grid-line;
  grid-template-columns: auto ;
  padding: 10px;
    
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px 10px;
  padding: 10px;
}
=======
>>>>>>> 0a0213c2f22a256013406fd2cdd96a4f14e27d8c

  .monde{
    width: 100%;
    fill: grey;
    stroke: currentColor;
    
  }
  /*
  .europe:hover{
    fill: aqua;
  }
  .afrique:hover{
    fill: brown;
  }
  .asie:hover{
    fill: gold;
  }
  .oceanie:hover{
    fill: chartreuse;
  }
  .ameriqueSud:hover{
    fill: darkgreen;
  }
  .ameriqueNord:hover{
    fill: blueviolet;
  }
*/
