

  .monde{
    width: 100%;
    fill: grey;
    stroke: currentColor;
    
  }
  /*
  .europe:hover{
    fill: aqua;
  }
  .afrique:hover{
    fill: brown;
  }
  .asie:hover{
    fill: gold;
  }
  .oceanie:hover{
    fill: chartreuse;
  }
  .ameriqueSud:hover{
    fill: darkgreen;
  }
  .ameriqueNord:hover{
    fill: blueviolet;
  }
*/
