div#recap{
    box-sizing: content-box;
    border-style: solid;
    background-color: rgb(177, 227, 250);
    border-color:black;
    border-radius: 10px ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    white-space: nowrap ;
}

button#payer{
    background-color:#7892c2;
    border-radius:28px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:8px 19px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
button#payer:hover {
    background-color:#476e9e;
}

h2{
    text-decoration: underline;
}

legend{font-weight: bold;

}
#top{/* total copie colle de W3School*/
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 4%;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555 ; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 1px; /* Increase font size */
  }
  #top:hover{
    background-color:red; /* Add a dark-grey background on hover */
  }